*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.ham-menu{
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 1;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right 0.7s;
}
.change .ham-menu{
    right: 33rem;
}
.line{
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.change .line{
    background-color: rgba(0, 0, 0, 0.8);
}
.change .line-1{
    transform: rotate(45deg)
    translate(0.3rem, 0.8rem);
}
.change .line-2{
    opacity: 0;
    visibility: hidden;
}
.change .line-3{
    transform: rotate(-45deg)
    translate(0.3rem, -0.8rem)
}
.ham-menu span{
    position: absolute;
    left: 5rem;
    width: 10rem;
    height: 4rem;
    background-color: #e2b646;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Baloo Da 2', serif;
    letter-spacing: 0.2rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.change .ham-menu:hover span{
    opacity: 1;
    visibility: visible;
}
.ham-menu span::before{
    content: "";
    position: absolute;
    border-left:1rem solid transparent;
    border-right:1rem solid #e2b646;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
}
.header{
    width:100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}
.img-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;    
    animation-name: scale;
    animation-duration: 5s;
}
@keyframes scale{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h2{
    font-family: 'Josefin Slab', serif;
    font-size: 6rem;
    font-weight: 300;
    color: #fcf9f9ee;
    text-shadow: 0 0.3rem #000000d2;
    line-height: 6rem;
    letter-spacing: 0.2rem;
    opacity: 0;   
    animation: moveBanner 1s 0.5s forwards;
}
.banner h1{
    font-family: 'Baloo Da 2', serif;
    font-size: 4rem;
    font: 300;
    color: #fcf9f9ee;
    letter-spacing: 0.2rem;
    text-shadow: 0 0.3rem #000000d2 ;
    margin-bottom: 3rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}
.banner span{
    font-family: 'Josefin Slab', serif;
    font-size: 6rem;
    font-weight: 300;
    text-shadow: 0 0.3rem #000000d2;
    color: hsla(2, 92%, 48%, 0.966);
    text-transform: uppercase;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}
.banner button{
    height: 4rem;
    width: 15rem;
    background-color: #565c565d;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: snow;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 1s forwards;
}
button:hover{
    box-shadow: 0 0 50px #0a0a0a;
    opacity: 0.4;
    transition: 0.5s;
}

@keyframes moveBanner{
    0%{
        transform: translateY(40rem) rotateY(-20deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
.sidebar{
    width: 45rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -45rem;
    background-color: white;
    transition: right 0.5s;
}
.change .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu h2{
    font-size: 1.3rem;
    font-family: 'Baloo Da 2', serif;
    line-height: 20rem;
    letter-spacing: 0.2rem;
    color: #747415;
}
.menu-item{
    text-align: center;
}
.menu-link{
    font-size: 4rem;
    font-family: 'Baloo Da 2', serif;
    color: #747415;
    position: relative;
}
.menu-link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease-in-out;
}
.menu-link:hover::before{
    width: 100%;
}
.social-media{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.social-media i{
    font-size: 3rem;
    margin: 3rem;
    width: 4rem;
    height: 4rem;
    color: #747415;
    cursor: pointer;
    background-color: #777777;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}
.social-media i:hover{
    background-color:black;
    transition: 0.5s;
    opacity: 1;
}